<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>MeuFiltro</filter-name>
        <filter-class>mack.smh.filter.MeuFiltro</filter-class>
    </filter>
    <filter>
        <filter-name>Deslogar</filter-name>
        <filter-class>mack.smh.filter.Deslogar</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Deslogar</filter-name>
        <url-pattern>/logoff.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MeuFiltro</filter-name>
        <url-pattern>/restrito.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>FuncoesBanco</servlet-name>
        <servlet-class>FuncoesBanco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>mack.smh.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mensagem</servlet-name>
        <servlet-class>mack.smh.Mensagem</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>mack.smh.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FuncoesBanco</servlet-name>
        <url-pattern>/FuncoesBanco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mensagem</servlet-name>
        <url-pattern>/Mensagem</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            35
        </session-timeout>
    </session-config>
</web-app>
